# CODEOWNERS for Seal
# This file defines the owners of all files in the repository.
# For more info, see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*       @Ajay-Satish-01
